.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 42px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square.clickable:hover {
  border: 2px solid;
  border-color: coral;
}

.square:focus {
  outline: none;
}
